<h2>MENSAJE PASTORAL</h2>
<p>Tiempos de retos y cambios constantes multitud de problemáticas que precisan soluciones acertadas. La única solución, el único camino es cristo en el corazón del hombre y la mujer por tanto amigo/a no has entrado a nuestra página por casualidad ¡DETENTE! Queremos que tu vida sea Transformada que obtengas Nuevas Fuerzas.

¡Jesús te Levanta!
Pastor: Daniel Rodríguez Torres
Pastora: Marisol Rivera
Llámanos al: (787) 932-0240</p>
