
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel</title>

  </head>
  <body>
    <h1>Admin Panel</h1>
     <a class="admin_link" href="admin/programas">Images de Programas</a>
     <a class="admin_link" href="admin/auspiciadores">Images de Aupidiadores</a>


  </body>
</html>
