<%- include("partials/header"); -%>
<section class="ftco-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6 text-center mb-5">
<h2 class="heading-section">Queremos Orar Por Ti</h2>
</div>
</div>
<div class="row justify-content-center">
<div class="col-md-10">
<div class="wrapper">
<div class="row no-gutters">
<div class="col-md-6">
<div class="contact-wrap w-100 p-lg-5 p-4">
<h3 class="mb-4">Send us a message</h3>
<div id="form-message-warning" class="mb-4"></div>
<div id="form-message-success" class="mb-4">
Your message was sent, thank you!
</div>
<form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
<div class="row">
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control error" name="name" id="name" placeholder="Name"><label id="name-error" class="error" for="name">Please enter your name</label>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="email" class="form-control error" name="email" id="email" placeholder="Email"><label id="email-error" class="error" for="email">Please enter a valid email address</label>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control error" name="subject" id="subject" placeholder="Subject"><label id="subject-error" class="error" for="subject">Please enter your subject</label>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<lt-mirror contenteditable="false" data-lt-linked="1" style="display: none;"><lt-highlighter contenteditable="false" style="display: none;"><lt-div spellcheck="false" class="lt-highlighter__wrapper" style="width: 297px !important; height: 144px !important; transform: none !important; transform-origin: 148.5px 72.5px !important; zoom: 1 !important;"><lt-div class="lt-highlighter__scroll-element" style="top: 0px !important; left: 0px !important; width: 297px !important; height: 144px !important;"></lt-div></lt-div></lt-highlighter><lt-div spellcheck="false" class="lt-mirror__wrapper notranslate" data-lt-scroll-top="0" data-lt-scroll-left="0" data-lt-scroll-top-scaled="0" data-lt-scroll-left-scaled="0" data-lt-scroll-top-scaled-and-zoomed="0" data-lt-scroll-left-scaled-and-zoomed="0" style="border-radius: 0px !important; border-width: 0px 0px 1px !important; border-style: none none solid !important; direction: ltr !important; font: 400 16px / 1.5 Poppins, Arial, sans-serif !important; font-synthesis: weight style small-caps !important; hyphens: manual !important; letter-spacing: normal !important; line-break: auto !important; margin: 0px !important; padding: 0px !important; text-align: start !important; text-decoration: none solid rgba(255, 255, 255, 0.8) !important; text-indent: 0px !important; text-rendering: auto !important; text-transform: none !important; transform: none !important; transform-origin: 148.5px 72.5px !important; unicode-bidi: normal !important; white-space: pre-wrap !important; word-spacing: 0px !important; overflow-wrap: break-word !important; writing-mode: horizontal-tb !important; zoom: 1 !important; -webkit-locale: &quot;en&quot; !important; -webkit-rtl-ordering: logical !important; width: 297px !important; height: 144px !important;"><lt-div class="lt-mirror__canvas" style="margin-top: 0px !important; margin-left: 0px !important; width: 297px !important; height: 144px !important;"></lt-div></lt-div></lt-mirror><textarea name="message" class="form-control error" id="message" cols="30" rows="6" placeholder="Message" data-lt-tmp-id="lt-338136" spellcheck="false" data-gramm="false" aria-invalid="true"></textarea><label id="message-error" class="error" for="message">Please enter a message</label>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="submit" value="Send Message" class="btn btn-primary">
<div class="submitting"></div>
</div>
</div>
</div>
</form>
</div>
</div>
<div class="col-md-6 d-flex align-items-stretch">
<div class="info-wrap w-100 p-lg-5 p-4 img">
<h3>Contact us</h3>
<p class="mb-4">We're open for any suggestion or just to have a chat</p>
<div class="dbox w-100 d-flex align-items-start">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-map-marker"></span>
</div>
<div class="text pl-3">
<p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
</div>
</div>
<div class="dbox w-100 d-flex align-items-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-phone"></span>
</div>
<div class="text pl-3">
<p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
</div>
</div>
<div class="dbox w-100 d-flex align-items-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-paper-plane"></span>
</div>
<div class="text pl-3">
<p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
</div>
</div>
<div class="dbox w-100 d-flex align-items-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-globe"></span>
</div>
<div class="text pl-3">
 <p><span>Website</span> <a href="#">yoursite.com</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon="{&quot;rayId&quot;:&quot;7ca6950caf07b3dd&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2023.4.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>
<%- include("partials/footer"); -%>
