<%- include("partials/header"); -%>

<p>hel</p>

<iframe
  src="https://www.tvshowlivepr.site/embed/video"
  title="Owncast"
  height="100%" width="100%"
  referrerpolicy="origin"
  scrolling="no"
  allowfullscreen>
</iframe>

<iframe
  src="https://www.tvshowlivepr.site/embed/chat/readwrite"
  title="Owncast"
  height="90%" width="100%"
  referrerpolicy="origin"
  scrolling="no"
  allowfullscreen>
</iframe>


<%- include("partials/footer"); -%>
